// активные ссылки при прокрутке
#top-menu li a.active {
	color: $cover-color;
}
.header {
	position: relative;
	color: $light-color;
	background: $bg-color;
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 74px;
	margin: auto;
	transition: all 0.5s;
	&__menu {
		a {
			@include adaptiv-font(16, 14);
		}
	}
	&__links {
		@media (max-width: 991.98px) {
			padding-right: 15%;
		}
	}
	&__logo span {
		transition: 0.4s all;
		padding-right: 7px;
	}
	// подложка под мобильное меню
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 74px;
		background: $bg-color;
		transition: 0.5s all;
	}
}
// добавление класса при прокрутке
.to-fixed {
	height: 48px;
	.header__logo a {
		z-index: 3;
		position: relative;
	}
	.header__logo span {
		height: 0;
		opacity: 0;
		transform: translateY(-20px);
	}
	&::before {
		height: 48px;
	}
}

.banner {
	padding-top: 74px;
	background: url(../img/banner_bg.jpg) no-repeat center center;
	background-size: cover !important;
	min-height: 92vh;
	@media (max-width: 767.98px) {
		background: url(../img/banner_bg.jpg) no-repeat center right;
	}
	&__description {
		background: $opacity-bg;
		padding: 15px 30px;
		margin: 25px 0;
		max-width: 506px;
		@media (max-width: 767.98px) {
			margin: 40px auto;
			background: rgba(17, 13, 21, 0.8);
		}
	}
	&__title {
		&-modified {
			color: #fff;
			margin: 35px 0 0 0;
			@include adaptiv-font(22, 15);
		}
	}
	&__title-size {
		@include adaptiv-font(17, 15);
	}
	&__text {
		line-height: 1.9;
	}
	&__text,
	a {
		color: $light-color;
	}
}
