$maxWidth: 1200;
$bg-color : #0a080b;
$light-color: #d5d5d5;
$first-color: #63dd8d;
$second-color: #6d81d6;
$headers-color: #a61a00;
$link-color: #4c26a3;
$dark-theme-color: #171616;
$cover-color: #fea728;
$text-color: #353535;

$opacity-bg: rgba(0,0,0,.5);