// Части сайта
@import "reset.scss";
@import "fonts.scss";
@import "variables.scss";
@import "header.scss";
@import "footer.scss";
@import "slick-slider.scss";
@import "animation.scss";
@import "media.scss";

html {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "RobotoSlab", serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1.5px;
}
h2 {
	@include adaptiv-font(36, 21);
	color: $headers-color;
	letter-spacing: 1.4px;
}
h3 {
	@include adaptiv-font(25, 18);
}
h4 {
	@include adaptiv-font(23, 15);
	margin: 30px 0;
}
a {
	color: $link-color;
	font-weight: 500;
	transition: 0.5s all;
	&:hover {
		color: $cover-color;
	}
}
p {
	margin: 30px 0;
	line-height: 1.8;
	color: $text-color;
	@include adaptiv-font(18, 15);
}
body {
	background: #fff;
}

.section-space {
	padding: 50px 0 40px 0;
	@media (max-width: 767.98px) {
		padding: 30px 0 20px 0;
	}
}
.text-first-color {
	color: $first-color;
}
.text-bold {
	font-weight: 500;
}

.text-center {
	text-align: center;
}

// About
.about {
	background: $dark-theme-color;
	color: $light-color;
	p {
		color: $light-color;
	}
	&__text {
		@include adaptiv-font(18, 15);
		.text-bold {
			@include adaptiv-font(20, 16);
		}
	}
	&__card {
		text-align: center;
		span {
			display: block;
			letter-spacing: 1.5px;
		}
		@media (max-width: 767.98px) {
			margin-bottom: 35px;
		}
	}
	&__card-name {
		color: #6f83d6;
		@include adaptiv-font(19, 17);
	}
	&__card-desc {
		@include adaptiv-font(15, 13);
	}
	&__card-image {
		display: flex;
		justify-content: center;
		margin: 20px 0;
		picture {
			border: 2px $light-color solid;
		}
	}
	&__card-text {
		padding: 0 2%;
		@include adaptiv-font(17, 14);
		@media (max-width: 767.98px) {
			max-width: 330px;
			margin: auto;
		}
	}
}
// Reviews
.reviews {
	&__card {
		text-align: center;
	}
	&__text {
		@include adaptiv-font(20, 16);
	}
	&__person-image {
		width: 70px;
		height: 70px;
		img {
			border-radius: 50%;
		}
	}
	&__person-name {
		@include adaptiv-font(17, 15);
		font-weight: 500;
		color: #d2691e;
	}
}

// Prices
.prices {
	&__card {
		border-bottom: 1px #cfcfcf dotted;
		margin: 15px 0;
		background: #f5f5dc;
		padding-top: 10px;
		padding-bottom: 10px;
		transition: 0.5s all;
		&:first-child {
			margin-top: 30px;
		}
		&:hover {
			background: #dfdfde;
		}
	}
	&__name {
		margin: 0;
		@include adaptiv-font(17, 14);
	}
	&__cost {
		@include adaptiv-font(17, 14);
		font-weight: 500;
	}
	&__text {
		font-weight: 500;
		margin-top: 30px;
		margin-bottom: 0;
	}
}

// Order
.order {
	&__step {
		position: relative;
		padding-left: 150px;
		@media (max-width: 575.98px) {
			padding: 15px;
		}
	}
	&__text::before {
		content: "";
		position: absolute;
		width: 200px;
		height: 66px;
		left: 0;
		top: calc(50% - 33px);
		background-size: contain !important;
		@media (max-width: 575.98px) {
			width: 150px;
			height: 40px;
			top: 0;
		}
	}
	&__step-step-1::before {
		background: url(../img/icons/step-1.png) no-repeat left center;
	}
	&__step-step-2::before {
		background: url(../img/icons/step-2.png) no-repeat left center;
	}
	&__step-step-3::before {
		background: url(../img/icons/step-3.png) no-repeat left center;
	}
	&__step-step-4::before {
		background: url(../img/icons/step-3.png) no-repeat left center;
	}
}

// Badges
.badges {
	&__item {
		text-align: center;
	}
	&__title {
		font-family: "RobotoSlab";
		@include adaptiv-font(28, 22);
		font-weight: 700;
		text-transform: uppercase;
		color: #007929;
	}
	&__image-1 {
		background: url(../img/icons/easy.png) no-repeat center center;
	}
	&__text {
		color: $text-color;
		max-width: 160px;
		margin: auto;
		padding: 12px 0;
		@include adaptiv-font(16, 13);
		font-weight: 500;
	}
	&__image-2 {
		background: url(../img/icons/fast.png) no-repeat center center;
	}
	&__image-3 {
		background: url(../img/icons/cheap.png) no-repeat center center;
	}
	&__image-4 {
		background: url(../img/icons/quality.png) no-repeat center center;
	}
	&__image {
		width: 150px;
		height: 150px;
		background-size: contain !important;
		margin: auto;
	}
}

// Stylized Portraits Page
.portraits {
	&__img {
		margin: auto;
		&-wrapper {
			overflow: hidden;
			&:hover {
				img {
					transform: scale(1.08);
					transition: 0.7s; /* Время эффекта */
					display: block;
				}
			}
		}
		padding: 20px;
		@media (max-width: 575.98px) {
			max-width: 85%;
		}
	}
}
.video {
	background: $bg-color;
	p {
		color: $light-color;
	}
	.attn {
		color: $cover-color;
	}
	&__video-wrap {
		max-width: 85%;
		margin: 20px auto;
		@media (max-width: 575.98px) {
			max-width: 100%;
		}
	}
}

.thumb-wrap {
	position: relative;
	padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставить 75%) */
	height: 0;
	overflow: hidden;
}
.thumb-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-width: 0;
	outline-width: 0;
}

// Restoration Page
.restoration {
	color: $text-color;

	&__item {
		ul {
			padding-left: 0;
		}
	}

	&__item-title {
		text-align: center;
		@media (max-width: 575.98px) {
			margin-bottom: 0;
		}
	}

	&__item-image {
		display: flex;
		justify-content: center;
		align-items: center;
		picture {
			margin: 15px;
			@media (max-width: 575.98px) {
				margin: 7px;
			}
		}
		img {
			border-radius: 5px;
		}
		@media (max-width: 767.98px) {
			flex-direction: column;
			max-width: 80%;
			margin: 20px auto;
		}
		@media (max-width: 575.98px) {
			max-width: 100%;
		}
	}

	&__item-text {
		margin-top: 40px;
		margin-bottom: 5px;
	}
	&__step {
		max-width: 65%;
		margin: auto;
		list-style: none;
		position: relative;
		padding-left: 30px;
		margin-bottom: 15px;
		@include adaptiv-font(18, 15);
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 18px;
			height: 24px;
			background: url(../img/icons/check-circle-regular.png) no-repeat center center;
			background-size: contain !important;
		}
		@media (max-width: 1199.98px) {
			max-width: 100%;
		}
	}
	&__level {
	}
}

.colorization {
	background: $dark-theme-color;
	p {
		color: $light-color;
	}
	&__paragraph {
		padding: 25px 0;
		border-top: $light-color 2px dashed;
		border-bottom: $light-color 2px dashed;
	}
}

// Универсальные блоки
.main-menu {
	ul {
		flex-wrap: wrap;
	}
	&-header {
		position: relative;
		li {
			padding: 0 10px;
			@media (max-width: 1199.98px) {
			}
		}
		&__link {
			@include adaptiv-font(16, 14);
			text-decoration: none;
			font-size: 0.9rem;
			color: $second-color;
			&:hover {
				color: $cover-color;
			}
		}
	}
	&-footer {
	}
}

.icons {
	&__link {
		&-header {
			@include adaptiv-font(22, 20);
			color: #fff;
			&:not(:last-child) {
				margin-right: 15px;
			}
			&:hover {
				color: #fff;
				text-shadow: 0 0 2px rgba(202, 228, 225, 0.92), 0 0 10px rgba(202, 228, 225, 0.34),
					0 0 4px rgba(30, 132, 242, 0.52), 0 0 7px rgba(30, 132, 242, 0.92), 0 0 11px rgba(30, 132, 242, 0.78),
					0 0 16px rgba(30, 132, 242, 0.92);
			}
		}
		&-order {
			margin: 0 4px;
			@include adaptiv-font(28, 22);
		}
		&-footer {
			margin: 0 10px;
			color: $first-color;
			@include adaptiv-font(22, 18);
		}
	}
}

.line-effect-parent {
	position: relative;
	&:hover {
		.line {
			background: $cover-color;
			max-width: 50%;
		}
	}
	.line {
		transition: 0.8s all;
		height: 2px;
		margin: 10px 0 25px;
		display: block;
		&-banner {
			background: $first-color;
			max-width: 70%;
		}
		&-title {
			background: $second-color;
			max-width: 20%;
		}
	}
}

.btn {
	max-width: 240px;
	margin: auto;
	background: #3f51b5;
	padding: 10px 30px;
	text-align: center;
	border-radius: 5px;
	transition: 0.5s all;
	text-transform: uppercase;
	color: $light-color;
	text-decoration: none;
	display: block;
	height: 100%;
	@include adaptiv-font(18, 14);
	&:hover {
		color: $light-color;
	}
	&:hover {
		background: #14255f;
	}
	&-submit:disabled {
		background: #656667;
		cursor: default;
	}
}

.logo {
	font-family: "Vineritc";
	max-width: 215px;
	transition: all 0.5s;
	@media (max-width: 1199.98px) {
		max-width: 200px;
	}
	a {
		display: block;
		&:hover {
			filter: drop-shadow(1px 2px 3px #012bff);
		}
	}
	span {
		@include adaptiv-font(18, 15);
		display: block;
		text-align: right;
		font-family: "Vineritc";
		cursor: default;
	}
}
// Burger Button
.hamburger-relative {
	position: relative;
}
.hamburger {
	position: absolute;
	top: calc(50% - 12px);
	right: 0;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0 15px;
	overflow: visible;
	@media (min-width: 991.98px) {
		display: none;
	}
}
.hamburger:hover {
	opacity: 0.7;
}
.hamburger.is-active:hover {
	opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #fff;
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 40px;
	height: 4px;
	background-color: #fff;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
	content: "";
	display: block;
}
.hamburger-inner::before {
	top: -10px;
}
.hamburger-inner::after {
	bottom: -10px;
}

.hamburger--3dy .hamburger-box {
	perspective: 80px;
}

.hamburger--3dy .hamburger-inner {
	transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
		background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dy .hamburger-inner::before,
.hamburger--3dy .hamburger-inner::after {
	transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy.is-active .hamburger-inner {
	background-color: transparent !important;
	transform: rotateX(-180deg);
}
.hamburger--3dy.is-active .hamburger-inner::before {
	transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dy.is-active .hamburger-inner::after {
	transform: translate3d(0, -10px, 0) rotate(-45deg);
}

// Всплывающая подсказка
dfn {
	border-bottom: dashed 1px rgba(0, 0, 0, 0.8);
	cursor: help;
	position: relative;
}
dfn::after {
	content: attr(data-info);
	display: inline;
	position: absolute;
	top: 22px;
	left: 0;
	opacity: 0;
	width: 230px;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.5em;
	padding: 0.5em 0.8em;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	pointer-events: none; /* This prevents the box from apearing when hovered. */
	transition: opacity 250ms, top 250ms;
}
dfn::before {
	content: "";
	display: block;
	position: absolute;
	top: 12px;
	left: 20px;
	opacity: 0;
	width: 0;
	height: 0;
	border: solid transparent 5px;
	border-bottom-color: rgba(0, 0, 0, 0.8);
	transition: opacity 250ms, top 250ms;
}
dfn:hover {
	z-index: 2;
} 
dfn:hover::after,
dfn:hover::before {
	opacity: 1;
}
dfn:hover::after {
	top: 30px;
}
dfn:hover::before {
	top: 20px;
}
